* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}



/* regole header */
.logo-container {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 900;
    background-color: white;
}

.logo-left {
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-self: center;

}

.logo-right {
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-self: center;

}

.logo-text-left {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-self: center;
}

.h-interaction {
    text-decoration: none;
    color: black;
    /* regole titolo e jumbotron */
}

.jumbotron-container {
    display: flex;
    flex-direction: column;
    background-color: #b4d0e7;
}

.main-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 90px;
    padding: 80px 300px;


}

.jumbotron {
    display: flex;
    width: 100%;
    justify-content: center;

}

.jumbotron-text {
    width: 25%;
    font-size: 20px;
    margin-top: 5px;
}

.j-button {
    width: 200px;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    border:#0061ff ;
    background-color: #0061ff;
    color: white;
    font-size: 15px;

}
.j-link{
    color: black;
    text-decoration: none;
}
.fa-arrow-down{
padding-top: 100px;
font-size: 40px;
}  

.jumbotron-container-img {
    display: flex;
    width: 40%;

}

.jumbotron-image {

    width: 800px;
}

/* regole corpo piani tariffari */
.business-plan-container {
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tariff-container {
    display: flex;
    justify-content: space-between;
}

.plane-container {
    width: 46%;
    padding-top: 80px;
}

.invoice-container {
    width: 350px;
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    
}


.professional {
    border: solid 1px;
    border-color: #dadadd;
    width: 280px;
    min-height: 800px;


}

.single-container {
    border-bottom: solid 1px #dadadd;
    display: flex;
    justify-content: center;
    position: relative;
}

.single {

    height: 40px;
    display: flex;
    align-items: center;
    
    
}
.fa-user{
  font-size: 15px;
  position: absolute;
  left: 95px;
  top: 12px;
}
.fa-users-medical{
    font-size: 15px;
    position: absolute;
    left: 95px;
    top: 12px;
}
.fa-building{
    font-size: 15px;
    position: absolute;
    left: 95px;
    top: 12px;
}

.tariff-plan {
padding-top: 15px;
  width: 230px;
  margin: 0 auto;
}
.tariff-plan-item{
    padding: 10px 0;
}

.offers-container {
    padding-top: 45px;
    width: 200px;
    margin: 0 auto;
    position: relative;
}
.offers-item{
    padding: 10px 0;
 
}

.fa-folder{
    position: absolute;
    left: -20px;
}
.fa-share-nodes{
    position: absolute;
    left: -20px;
}  

.free-trial {
    width: 230px;
    margin: 0 auto;
    margin-top: 80px;
}
.free-trial-button{
    width: 200px;
    height: 40px;
    margin-bottom: 30px;
    border:#0061ff ;
    background-color: #0061ff;
    color: white;
    font-size: 15px;   
}
.free-trial-link{
    color: #0000ee;
}

.highlights {
    min-height: 400px;
    margin-top: 70px;
    padding-left: 20px;
}

.highlights-col {
    width: 230px;
    margin: 0 auto;
    margin-top: 40px;
    list-style-type: none;
}

.highlights-item {
    margin-top: 10px;
    position: relative;
}
.fa-check{
    position: absolute;
    left: -15px;
    color:#0061ff ;
}

/* regole corpo ufficio vendite */
.ufficio-vendite-container {
    width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border: solid 1px #dadadd;
    margin-top: 40px;

}

.team-col {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px #dadadd;
    height: 40px;
}

.enterprise-container {
    min-height: 200px;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.enterprise-col {
    width: 60%;

}
.enterprise-button{
    width: 200px;
    height: 40px;
    margin-bottom: 30px;
    border:#0061ff ;
    background-color: #0061ff;
    color: white;
    font-size: 15px;    
}

.enterprise-title {
    margin-bottom: 10px;
}

.contact-title {
    margin-bottom: 40px;
    position: relative;
}
#fa-building-font{
    position: absolute;
    bottom:100px;
    left: 100px;
}

/* <!--regole corpo partner dropbox --> */
.partner-dropbox-container {
    width: 1024px;
    margin: 0 auto;
    padding-top: 150px;
    display: flex;
    justify-content: center;
    gap: 80px;
}

.partner-dropbox-image {
    width: 600px;
}

.partner-dropbox-text {
    width: 300px;
    padding-top: 60px;
}

.partner-dropbox-title {
    margin-bottom: 20px;
}

.partner-dropbox-paragraph {
    padding-bottom: 20px;
    font-size: 19px;
}
.partner-dropbox-button{
    width: 150px;
    height: 40px;
    margin-top: 40px;
    border:solid 1px black;
  
    font-size: 15px;  
}

/* <!--regole corpo dropbox business --> */
.dropbox-business-container {
    width: 1024px;
    margin: 0 auto;
    padding-top: 60px;


}

.row-dropbox {
    width: 1024px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;




}

.dropbox-business-title {
    width: 100%;
}

.dropbox-col {
    width: calc(100%/3);

}

.dropbox-text {
    width: 300px;
}

.dropbox-image {
    width: 300px;
}

.dropbox-business-title {

    margin: 80px 0;
}

/* <!-- regole corpo titolo e interaziome dropbox business --> */
.title-business-container {

    width: 500px;
    margin-top: 150px;

}

.title-business {
    padding-bottom: 50px;
}

/* <!--regole corpo Designit section --> */

.designit-container {
    width: 100%;
    margin: 0 auto;
    height: 600px;
    display: flex;
    margin-top: 150px;

}

/* <!--  regole corpo centrale della sezione --> */

.designit-text-container {
    width: calc(100%/3);
    height: 600px;
    overflow: auto;
}

.designit-text-col {
    margin-top: 40px;
    margin-left: 40px;
    width: 460px;
   
}

.trade-mark-text {
    display: flex;
    margin-top: 60px;
}

.mention {
    margin-top: 40px;
}

.designit-trade-mark {
    width: 200px;
}


/* regole immagini design text container (image-left) */
.image-left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: calc(100%/3);
    height: 600px;

}

.designit-logo-col {
    width: calc(100%/2);
    height: 300px;
    background-color: #a2d39b;
    position: relative;
}

.asu-logo-col {
    width: calc(100%/2);
    height: 300px;
    background-color: #61082b;
    position: relative;
}

.uof-logo-col {
    width: calc(100%/2);
    height: 300px;
    background-color: #0093ce;
    position: relative;
}

.topps-logo-col {
    width: calc(100%/2);
    height: 300px;
    background-color: #ff1c1c;
    position: relative;
}

.designit-logo {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 30%;
    left: 30%;
}

.asu-logo {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 30%;
    left: 30%;
}

.uof-logo {
    margin-top: 50px;
    width: 100px;
    height: 30px;
    position: absolute;
    top: 30%;
    left: 30%;
}

.topps-logo {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 30%;
    left: 30%;
}

/* regole immagini design text container (image-right) */
.image-right {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: calc(100%/3);
    height: 600px;
}

.wbr-logo-col {
    width: calc(100%/2);
    height: 300px;
    background-color: #d5001f;
    position: relative;
}

.hc-logo-col {
    width: calc(100%/2);
    height: 300px;
    background-color: #b4d0e7;
    position: relative;
}

.bp-logo-col {
    width: calc(100%/2);
    height: 300px;
    background-color: #0d2481;
    position: relative;
}

.cc-logo-col {
    width: calc(100%/2);
    height: 300px;
    background-color: #ffd830;
    position: relative;
}

.wbr-logo {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 30%;
    left: 30%;
}

.hc-logo {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 30%;
    left: 30%;
}

.lp-logo {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 30%;
    left: 30%;
}

.cco-logo {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 30%;
    left: 30%;
}

/* <!--  regole corpo Dropbox nella tua azienda --> */
.azienda-cotainer {
    width: 100%;
    height: 300px;
    background-color: #b4d0e7;
    padding-top: 100px;
}

.azienda-col {
    display: flex;
    justify-content: space-around;
    position: relative;

}

.azienda-title {
    width: 500px;
    position: absolute;
    left: 22%;
    font-size: 20px;

}
.azienda-main-title{
    color:#61082b ;
}

.azienda-button {
    width: 250px;
    position: absolute;
    right: 25%;
}
.azienda-button-item{
    width: 200px;
    height: 40px;
    margin-bottom: 30px;
    border:#0061ff ;
    background-color: #0061ff;
    color: white;
    font-size: 15px;    
}

/* <!--regole corpo domande frequenti --> */
.frequent-questins {
    width: 55%;

    margin: 0 auto;

}

.faq-col {
    margin-top: 150px;
    font-size: 20px;
    list-style-type: none;

}

.faq-li-item {
    padding: 40px 0;
    border-bottom: solid 1px black;
    position: relative;
}
.fa-chevron-down{
position: absolute;
right: 50px;
font-size: 15px;
}
/* <!--regole copro lista interattiva Dropbox --> */
footer {
    height: 600px;
    background-color: black;
    margin-top: 150px;
    color: white;
    font-size: 20px;
    
   
}
.iteract-container{
    width: 80%;
    margin: 0 auto ;
 display: flex;
 justify-content: center;
 justify-content: space-evenly;
}
.interact-col{  
    padding: 100px 0;  
}
.interact-list{
    margin-top: 40px;
}
.interact-li{
   list-style-type: none; 
   padding: 10px 0;
}
.interact-item{
    text-decoration: none;
   color: white;
}